@import 'constants';


// Card Header Fix //

.card {
  .card-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    span {
      display: inline-block;
      margin-right: auto;
    }

    .btn.btn-default {
      margin-right: 2rem;
      padding: 1rem;
    }

    .btn.btn-warning {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: $red;
      margin-right: 2rem;
      padding: 1rem;
    }

    .btn.btn-warning:hover,
    .btn.btn-warning:focus,
    .btn.btn-warning:active {
      text-decoration: underline;
    }
  }

  .card-body {
    .btn {
      margin: 0;
    }
  }

  .no-relationships {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

// Navigation Fix //

.anchor {
  display: block;
  height: 13rem;
  margin-top: -13rem;
  visibility: hidden;
  width: 0;
}

.inactive-navlink {
  display: none;
}

// History Styling //

.history-table {
  background-color: transparent;

  .assignee span,
  .referral,
  .reporter span,
  .semibold,
  .worker span {
    font-weight: $semibold-weight;
  }

  .referral-id {
    color: $dark-grey;
  }

  thead {
    .allegations,
    .disposition,
    .perpetrator,
    .victim {
      font-weight: $semibold-weight;
  	}
  }

  .people-and-roles {
    background-color: transparent;

    th {
      padding-top: 0;
    }

    tr {
      background-color: transparent;
    }
  }
}

@media print {
  .btn,
  header {
    display: none;
  }

  .col-xs-8 {
    width: 100%;
  }
}

.child-name {
  padding-left: 1.5rem;
  padding-top: 3.5rem;
}

.react-bs-container-body {
  overflow: visible;
}

.react-bs-table {
  td {
    outline: none;
  }

  table {
    td {
      overflow: visible;
    }
  }
}
