@import 'constants';


// Card Header Fix //

.card {
  .show-label {
    color: $dark-grey-woodduck;
    margin-bottom: 5px;
    margin-top: $half-spacing;
    max-width: 100%;
    padding-top: $half-spacing;
   }

  .card-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    h2 {
      clear: none;
      display: inline-block;
      margin: 0 auto 0 0;
      padding: $base-spacing $double-spacing;
    }

    .btn.btn-default {
      margin-right: 2rem;
      padding: 1rem;
    }

    .btn.btn-warning {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: $red;
      margin-right: 2rem;
      padding: 1rem;
    }

    .btn.btn-warning:hover,
    .btn.btn-warning:focus,
    .btn.btn-warning:active {
      text-decoration: underline;
    }
  }

  .card-body {
    .btn {
      margin: 0;
    }
  }

  .no-relationships {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

// Navigation Fix //

.anchor {
  display: inline-block;
  height: $banner-height + $page-header-height + $error-banner-height;
  margin-top: 0 - ($banner-height + $page-header-height + $error-banner-height);
  visibility: hidden;
}

.inactive-navlink {
  display: none;
}

// History Styling //

.copy-friendly {
  width: 6.5in;

  table,
  table td {
    border: 1px solid $darkest-grey;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  table table {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

.history-table {
  background-color: transparent;

  .assignee span,
  .referral,
  .reporter span,
  .semibold,
  .worker span {
    font-weight: $semibold-weight;
  }

  .referral-id {
    color: $dark-grey;
  }

  thead {
    .allegations,
    .disposition,
    .perpetrator,
    .victim {
      font-weight: $semibold-weight;
  	}
  }

  .people-and-roles {
    background-color: transparent;

    th {
      padding-top: 0;
    }

    tr {
      background-color: transparent;
    }
  }
}

@media print {
  .btn,
  header {
    display: none;
  }

  .col-xs-8 {
    width: 100%;
  }
}

.child-name {
  padding-left: 1.5rem;
  padding-top: 3.5rem;
}

.react-bs-container-body {
  overflow: visible;
}

.react-bs-table {
  td {
    outline: none;
  }

  table {
    td {
      overflow: visible;
    }
  }
}

.reporter,
.un-selectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.edit-remove {
  position: absolute;
  right: 0;
}

.information-flag-rounded {
  background-color: $transparent-black;
  border-radius: $border-radius-rounded;
  color: $white;
  margin-left: $margin-left-rounded;
  padding: 0 1.5rem;
  text-align: center;
}

// set page header to fixed
header {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.page-header-container {
  margin-top: $banner-height;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.side-bar-container {
  position: fixed;
}

.back-to-dashboard {
  padding-top: $page-header-height + $banner-height;
}

.back-to-dashboard-error {
  padding-top: $page-header-height + $banner-height + $error-banner-height;
}

.hotline-inner-container,
.snapshot-inner-container,
.back-to-dashboard {
  z-index: 999;
}

.page-header-mast {
  z-index: 1001;
}

.profile-avatar ul {
  z-index: 1002;
}

.address-search {
  margin-top: 4.2rem;
}
