@import 'constants';
/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

// A table where the first column is a floating row index number
.ordered-table {

  .ordered-table__index-row {
    padding-left: 0;
    padding-right: 0;

    > * {
      left: $half-spacing;
      position: absolute;
      top: auto; // preserve height alongside the row
    }
  }
}

.sort-column.table-header-sort {
  border-bottom: 0.29rem solid;
  border-bottom-color: #2974a2;
}