@import 'constants';
/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

// A table where the first column is a floating row index number
.ordered-table {

  .ordered-table__index-row {
    padding-left: 0;
    padding-right: 0;

    > * {
      left: $half-spacing;
      position: absolute;
      top: auto; // preserve height alongside the row
    }
  }
}
.react-bs-table {

  .react-bs-container-header {

    .sorted-header {
      border-bottom: .29rem solid;
      border-bottom-color: $medium-blue;
    }
  }
}
